.dropdown-img__outer,
.dropdown-btn__outer {
  position: relative;
  color: var(--clr-base-dk);
  font-size: var(--fs-link);
}

/* IMG */
.dropdown-img__outer--profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

/* BTN */
.dropdown-btn__outer--btn {
  box-sizing: border-box;
  color: var(--clr-ft-white);
  border: none;
  background-color: var(--clr-btn);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background-color: var(--clr-btn-lt);
  }

  &:active {
    background-color: var(--clr-btn-dkst);
  }
}

.dropdown-img__inner,
.dropdown-btn__inner {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-base);
  border-radius: 8px;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.dropdown-img__inner--link,
.dropdown-btn__inner--link {
  padding: 4px;
  padding-right: 8px;
  text-decoration: none;
  text-wrap: nowrap;
  background-color: var(--clr-link-bg);

  &:hover {
    background-color: var(--clr-base-ltst);
  }

  &:active {
    background-color: var(--clr-base-lt);
  }

  &:link {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
}

.show {
  visibility: visible;
}

@media (max-width: 600px) {
  .dropdown-img__outer--profile-img {
    width: 35px;
    height: 35px;
  }
}
